<?xml version='1.0' encoding='utf-8'?>
<widget id="com.clasicofilm.tv" version="1.0.0" xmlns="http://cordova.apache.org/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0/hybrid">
    <name>ClasicoFilm TV</name>
    <description>Tu catálogo de cine clásico en streaming.</description>
    <author email="soporte@classicofilm.com" href="https://www.classicofilm.com">Óscar - ClasicoFilm</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    
    <platform name="android">
        <preference name="Orientation" value="landscape" /> <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="KeepRunning" value="true" />
    </platform>
    
    <preference name="Fullscreen" value="true" />
</widget>
